    html,
    body,
    .wrap,
    .container {
        height: 100%;
    }
    
    body {
        background-color: white;
    }
    /* .wrap>.container {
    padding: 70px 15px 20px;
} */
    
    h1 {
        padding-top: 5px;
        text-align: center;
        font-family: 'Bookman Old Style';
        color: #c0a3d8;
    }
    
    .wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .container .form-container {
        width: 100%;
    }
    
    .input-container {
        border: 2px solid black;
        border-radius: 10px;
        width: 100%;
    }
    
    .input-container .url-input {
        text-align: center;
        outline: none;
        border: none;
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    
    .input-container button {
        outline: none;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        color: #c0a3d8;
    }
    
    .input-container button:active,
    .input-container button:focus {
        outline: none;
    }
    
    .container form {
        width: 100%;
        justify-content: center;
    }
    
    .elem {
        display: flex;
        justify-content: space-evenly;
        border: 1px dotted #000000;
        border-radius: 18px;
        margin: 10px;
        cursor: pointer;
        text-decoration: none;
        color: black;
        font-size: 16px;
    }
    
    .elem:hover {
        color: black;
        text-decoration: none;
    }
    
    .elem p {
        margin: 0;
    }
    
    .elem .color {
        color: #f56262;
        font-weight: bold;
    }
    
    #loader {
        display: none;
        font-size: 46px;
        color: #c0a3d8;
    }
    
    #loader svg {
        animation-name: rotation;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    
    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }